QUEUE=test                # queue name
#QUEUE_SUFFIX=""          # PBS-specific: often queue name has suffix in PBS
#NODETYPE=""              # SLURM-specific: sometimes is required to denote 
                          #                 partitions or specific resources
#RESOURCE_HANDLING="gres" # SLURM-specific: gres or qos: two options how to apply NODETYPE setting
ACCOUNT="project_1234"    # SLURM-specific: account parameter
NNODES=1                  # number of nodes
PPN=1                     # MPI ranks per node
NTH=1                     # number of OpenMP threads per rank
TIME_LIMIT="10"           # in minutes
TARGET_BIN="hostname"     # binary to run which mpirun/mpiexec
JOB_NAME="my_testjob"     # default is: "$TARGET_BIN"
INIT_COMMANDS=''          # execuled with eval before job submit
INJOB_INIT_COMMANDS=''    # execuled with eval before mpirun
BEFORE="./preprocessing.sh"  # script to run before the TARGET_BIN
AFTER="./postprocessing.sh"  # script to run after the TARGET_BIN
BLACKLIST="n1234,n12345"     # nodes to exclude
WHITELIST="n1234,n12345"     # nodes to use
GENERIC_RESOURCES="gpu:4"    # set of generic resource defs
CONSTRAIN="gpu_M2070"        # set of constrain expressions

MPIEXEC="generic"         # options: impi, impixtmp, ompi1, ompi3, mvapich
BATCH="direct"            # options: slurm, pbs, lsf, vbbs, direct



